.goTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: rgba(245, 245, 245, 0.746) 1px solid;
  transition: all 015s ease;
  z-index: 1000;
}

.goTop:hover {
  color: #fde047;
  border-color: #fde047;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.goTopHidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.goTop {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}